body {
    font-family: sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    width: 410px;
    min-height: 410px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  li label {
    flex: 1;
    font-size: 16px;
  }
  
  li button {
    padding: 5px;
    background-color: #f44336;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  li button:hover {
    background-color: #d32f2f;
  }
  
  #clear-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #clear-button:hover {
    background-color: #c82333;
  }
  